<script type="text/x-template" id="autocomplete">
  <div :class="getRootClass()" ref="autocompleteroot" @mouseover="addFocus('mouse')" @mouseout="removeFocus('mouse')">
    <input type="hidden" v-model="id"  :name="idname" v-if="idname != undefined" />
    <input type="text" @input="onChange" v-model="search" @keyup.down="onArrowDown" @keyup.up="onArrowUp" v-on:keyup.enter.self.stop="onEnter"
v-on:keyup.escape.self.stop="onEscape"
		@keydown.delete="deleteKey" @keyup.enter="enterKey" @keyup="anyKey" autocomplete="off" :disabled="disabled" 
		 ref="searchfield" :class="span" :name="fieldname" @focus="addFocus('cursor')" @blur="removeFocus('cursor')"/>
    <ul id="autocomplete-results" v-show="isOpen" class="autocomplete-results"  :style="getStyleTop()" ref="autoresults">
      <li v-if="!isLoading" v-for="(result, i) in results" :key="i" @click="setResult(result)" class="autocomplete-result" :class="{ 'is-active': i === arrowCounter }" :style="getStyleWidth()">
          <span v-html="render(result)" v-if="isCustomRender()"></span>
          <span v-if="!isCustomRender()">{{ getDisplay(result) }}  ({{ result.id}})</span>
      </li>
      <li class="status text-center center" :style="getStyleWidth()">
        <span v-if="isLoading">Loading results...</span>
        <span style='display:block' v-if="!isLoading" @click="createNew" class="createnew">{{createnewtext}}</span> 
        <span v-if="!isLoading"> Showing 1-{{recordsPerPage}} of {{totalRecords}} </span>
      </li>
    </ul>

  </div>
</script>
